
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="batchTable">
    <thead>
        <tr>
            <th>Batch Name</th>
            <th>Total Hours</th>
            <th>Hours Taken</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<form>
    <label>Batch Name:</label>
    <input type="text" name="BatchName" id="BatchName" />

    <label>Total Hours:</label>
    <input type="text" name="TotalHours" id="TotalHours" />

    <label>Hours Taken:</label>
    <input type="text" name="HoursTaken" id="HoursTaken" />

    <input type="button" id="btnSubmit" value="Save" />
</form>

<script src="~/Scripts/JavaScript/JavaScript.js"></script>